@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    margin: 0px;
    padding: 40px 80px 80px 80px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    color: var(--cor5);
    min-height: 150px;
}

header > h1 {
    margin-top: 30px;
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px rgba(61, 61, 61, 0.692);
}

header > p {
    text-align: center;
    font-size: 1.2em;
    color: white;
    font-family: var(--fonte-padrao);
    max-width: 600px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(61, 61, 61, 0.692);
}

nav {
    padding-left: 5px;
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(48, 48, 48, 0.425);
}

nav > a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(58, 58, 58, 0.603);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
}

main strong {
    color: var(--cor4);
}

main a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%
}

main img.pequena {
    width: 75%;
    margin: auto;
    display: block;
}
div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

article {
    background-color: white;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(77, 77, 77, 0.527);
    margin-top: 20px;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    margin: 0px;
    padding: 5px;
    background-color: var(--cor5);
    color: white;
    text-align: center;
}

/*Ver video em que o guanabara explicou porque mesmo com só 1px de padding, a box vontinua grande demais*/
footer a {
    text-align: center;
    padding: 5px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}